<!DOCTYPE html>
<html lang="en">
  <head>
    <%= @content_for_header %>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container-fluid">
          <a class="brand" href="/">Clarity</a>
          <%= @toolbar %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content" style="margin-left: 0;">
        <div class="alert-message error">
          <p><strong>Oh snap!</strong> <%= @error %></p>
        </div>
      </div>
    </div>

  </body>
</html>
