<!DOCTYPE html>
<html lang="en">
  <head>
    <%= @content_for_header %>
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Log Parser / Analyzer</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="sidebar">
        <div class="well">
          <%= @toolbar %>
        </div>
      </div>

      <div class="content">
